<VirtualHost *:80>

  ServerName  ppe.loc
  ServerAlias www.ppe.loc
  ServerAlias ppe.*.xip.io
  ServerAlias www.ppe.*.xip.io

  DocumentRoot /PATH/ppe-detect-web/build

  <Directory /PATH/ppe-detect-web/build>
    Options Indexes MultiViews FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>

</VirtualHost>