.App {
    text-align: center;
}

.laser {
    @apply bg-vivid-red h-4 absolute;
    width: 150%;
    margin-left: -25%;
    top: 0%;
    z-index: 2;
    box-shadow: 0 0 7px red;
    animation: scanning 3s infinite;
}

.diode {
    animation: beam .01s infinite;
}

@keyframes beam {
    50% {
        opacity: 0;
    }
}

@keyframes scanning {
    50% {
        top: 100%;
    }
}
